.header_nav_container {
  .header_nav {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 375px;

    .header_navbar {
      width: 100%;
      min-width: 375px;
      max-width: 800px;
      padding: 22px 24px 30px;
      background: #FAFAFA;
      
      ul.nav {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    
        li {
          margin: 0;
          padding: 0;
          width: 103px;
          height: 32px;
          margin-right: 8px;
    
          a {
            display: flex;
            justify-content: center;
            align-items: center;
            width: inherit;
            height: inherit;
            border: 1px solid #E5E9EC;
            border-radius: 32px;
            font-size: 12px;
            font-weight: 700;
            line-height: 160%;
            color: #14171A;
          }

          a:hover {
            border:2px solid #FBD2D4
          }
    
          a.active {
            background: #FBD2D4;
            color: #ED2227;
            border: none;
          }
        }
      }
    }
  }
}