// $theme-colors: (
//   "primary": #145b12,
// );

// $primary: rgb(0, 19, 23);

@import '/node_modules/bootstrap/scss/bootstrap.scss';

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

ol, ul {
  list-style: none;
}

.text_label {
  font-weight: 400;
  font-size: 11px;
  line-height: 140%;
  color: #797D7F;
}

.text_content {
  font-weight: 900;
  font-size: 16px;
  line-height: 130%;
  color: #14171A;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
